$footer-height: 109px;

.chatscreen {
  display: flex;
  flex: 1;
  flex-direction: column;

  &-messages {
    flex: 1 auto;
    overflow: scroll;
  }

  &-form {
    flex-basis: $footer-height;
    min-height: $footer-height;
    position: relative;
  }
}
