<div class="chatscreen">
  <div class="md-padding chatscreen-messages">
    {{#each model.messages as |message|}}
      {{chat-message message=message currentUser=currentUser delete='destroyMessage'}}
    {{else}}
      {{#paper-card}}
        {{#paper-card-content}}
          There are no messages yet
        {{/paper-card-content}}
      {{/paper-card}}
    {{/each}}
  </div>

  <div class="chatscreen-form">
    {{chat-form currentUser=currentUser submit='submitMessage' goTo='goTo'}}
  </div>
</div>
