{{#paper-nav-container}}
  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools" {{action 'goTo' 'index'}}>
        <h1>EmberFire Chat</h1>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}
          {{#paper-item action='goTo' param='chat'}}Chat{{/paper-item}}
        {{#if session.isAuthenticated}}
          {{#paper-item action='invalidateSession'}}Log Out{{/paper-item}}
        {{else}}
          {{#paper-item action='goTo' param='signup'}}Sign Up{{/paper-item}}
          {{#paper-item action='goTo' param='login'}}Log In{{/paper-item}}
        {{/if}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-content}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <h1>OMG!! Ember is on FIRE!!! ...base.</h1>
      </div>
    {{/paper-toolbar}}

    {{outlet}}
  {{/paper-content}}
{{/paper-nav-container}}
